$green_color: #495E57;
$yellow_color: #F4CE14;
$white_color: #EDEFEE;
$black_color: #333333;
$red_color: #A50000;
$light_text_color: #9C9C9C;


.card {
  border-radius: 16px;
  background: $white_color;
  width: 264px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
      transform: scale(0.95);
  }

  img {
    border-radius: 16px 16px 0px 0px;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 90%;
}

.price {
  color: #EE9972;
  font-family: Karla, serif;
  font-size: 16px;
  font-weight: 700;
}

.head_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info_text {
  font-size: 16px;
  font-weight: 400;
  color: $green_color;
}

.info {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  p {
    font-size: 16px;
    font-weight: 700;
  }
}